.DS_Store
**/*.aux
**/*.log
**/*.pdf
**/*.synctex.gz
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.dvi
**/*.nav
**/*.snm
**/*.lof
**/*.lot
**/*.vrb
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
src/prototypes/manticore/mcore*
node_modules
*/ethereum-ca/build/*
*_trace.json
db
cache



